.BtnA {
  position: absolute;
  width: 190px;
  height: 65px;

  /* Linear */

  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
}
.BtnAText{
  width: 134px;
  height: 27px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  /* flex-grow: 0; */
}
.btnColor {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
font-size: 16px;
}

